.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &.clickable {
        &:hover {
            opacity: 0.7;
        }
    }
}

.icon-pdf {
    background-image: url('../img/pdf-file.png');
}

.icon-img {
    background-image: url('../img/img-file.png');
}

.icon-cancel-filled {
    background-image: url('../img/cancel-filled.png');

    &.clickable {
        &:hover {
            opacity: 1;
        }
    }
}

.icon-extra-large {
    min-width: 50px;
    min-height: 50px;
}

.icon-large {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
}

.icon-medium {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
}

.icon-small {
    width: 24px;
    height: 24px;
}

.icon-extra-small {
    min-width: 12px;
    min-height: 12px;
}

.clickable{
    cursor: pointer;
}