<div class="row">
    <div class="col-md-6 bg-dark">a</div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="name">CPF</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="name">Email</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="name">Senha</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>
</div>