@import "~flexboxgrid/dist/flexboxgrid.css";
@import "assets/scss/colors.scss";
@import "assets/scss/forms.scss";
@import "assets/scss/sizes.scss";

*{
    font-size: 14px;
    padding: 0;
    margin: 0;
    outline: unset;
}

.row{
    margin: 0;
}